#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}
#header-nav .navbar-brand a{
  color: yellow;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: yellow;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list{
  background: black;
  border: 1px solid #e7e7e7;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list hr{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e7e7e7;
}

#header-nav span.icon-bar{
  background: red;
}

#header-nav .navbar-toggle:hover span.icon-bar, #header-nav .navbar-toggle:focus span.icon-bar{
  background: red;
}

.menu-header{
  margin-bottom: 40px;
}
.menu-content{
  background: grey;
  margin-bottom: 20px;
}